* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
em {
  font-style: normal;
}

body {
  background: #2948ff;
  background: -webkit-linear-gradient(to right, #396afc, #2948ff);
  background: linear-gradient(to right, #396afc, #2948ff);
  -webkit-tap-highlight-color: transparent;
}

i,
svg {
  pointer-events: none;
}
ul {
  list-style-type: none;
}

@mixin allWidth {
  min-width: 320px;
  max-width: 700px;
  width: 80vw;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 100px;
  .music-video {
    display: none;
    margin-bottom: 2rem;
  }
  .title {
    @include allWidth;
    position: relative;
    .inspiration {
      margin-top: 40px;
      font-size: 1.8rem;
      font-weight: 400;
    }
    h1 {
      font-size: 3rem;
      font-weight: 400;
      color: #fff;

      em {
        font-weight: 700;
      }
    }
    h3 {
      color: #fff;
      font-weight: 300;
      font-size: 1.6rem;
      margin-top: 12px;
    }
    .more-option,
    .music {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      transition: all 0.3s ease;
      &:hover {
        background: rgb(214, 214, 214);
      }
      .more-icon {
        display: flex;
        justify-content: space-around;
        padding: 2px;
        li {
          width: 5px;
          height: 5px;
          background: #2948ff;
          border-radius: 50%;
        }
      }
    }
    .music {
      outline: none;
      top: 15px;
      border-radius: 15px;
      background: #fff;
      color: #2948ff;
      .shadow {
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: 15px;
      }
    }
    .active {
      outline: none;

      background: #2948ff;
      color: #fff;
    }
    .active i {
      animation: 3s linear 0s infinite rotation;
    }
    .active .shadow {
      animation: 1s ease-in-out 0s infinite alternate playEffect;
    }
    .active .shadow:last-child {
      animation: 1s ease-in-out 0s infinite alternate playEffect2;
    }

    @keyframes rotation {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes playEffect {
      from {
        transform: scale(1.2);
      }
      to {
        transform: scale(1.4);
      }
    }
    @keyframes playEffect2 {
      from {
        transform: scale(1.2);
      }
      to {
        transform: scale(1.8);
      }
    }
  }
  .adding {
    display: flex;
    align-items: center;
    padding: 14px;
    margin-top: 40px;
    height: 46px;
    @include allWidth;
    background: #fff;
    border-radius: 10px;
    input {
      outline: none;
      border: none;
      padding-left: 20px;
      font-size: 1.2rem;
      color: #1d1d1d;
      flex: 1;
      &::-webkit-input-placeholder {
        color: #808080;
      }
      font-weight: 300;
      caret-color: #1d1d1d;
    }
    .adding-icon {
      transition: all 0.3s ease;
      border: none;
      background: transparent;
      font-size: 1.6rem;
      color: #2948ff;
      cursor: pointer;
      &:hover {
        color: #1d36c7;
      }
    }
  }
  .progress {
    @include allWidth;
    text-align: center;
    color: #fff;
    .progress-external-bar {
      height: 1.2rem;
      border-radius: 0.6rem;
      width: 100%;
      background: #fff;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0.3rem;
      margin-bottom: 6px;
      &::after {
        content: "";
        display: block;
        width: 80%;
        height: 0.8rem;
        background: #2948ff;
        border-radius: 0.4rem;
      }
    }
  }
  .todo-lists,
  .completed {
    margin-top: 24px;
    @include allWidth();
    .todo-lists-title,
    .completed-title {
      height: 20px;
      width: 100px;
      background: #fff;
      border-radius: 10px;
      line-height: 20px;
      text-align: center;
      font-weight: normal;
    }
    .todo-list {
      position: relative;
      @include allWidth();
      height: 46px;
      background: #fff;
      margin-top: 8px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 0 14px;
      .tick {
        width: 26px;
        height: 26px;
        cursor: pointer;
        border: 4px solid #2948ff;
        border-radius: 13px;
        background: transparent;
      }
      p,
      input {
        padding-left: 20px;
        padding-right: auto;
        font-size: 1.2rem;
        color: #1d1d1d;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      input {
        // outline: none;
        outline: 2px solid #203bd4;
        padding-left: 6px;
        margin-left: 14px;
        border: none;
        padding-top: 4px;
        padding-bottom: 4px;
      }
      .countdown-container {
        position: absolute;
        right: 130px;
        width: 10rem;
        height: 2rem;
        overflow: hidden;
        .countdown {
          display: flex;
          transform: translateX(110%);
          // display: none;
          transition: all 0.3s ease;
          justify-content: space-evenly;
          background: #2948ff;
          //   width: 20%;
          //   height: 2rem;
          border-radius: 6px;
          button {
            border: none;
            background: transparent;
            cursor: pointer;
            color: #fff;
          }
          .clock-timer {
            line-height: 2rem;
            color: #fff;
          }
        }
      }
      @media (max-width: 430px) {
        .countdown-container {
          width: 9rem;
        }
      }
      .clock,
      .trash {
        cursor: pointer;
        background: transparent;
        color: #8d8d8d;
        font-size: 20px;
        font-weight: 700;
        margin: 0 20px;
        border: none;
        transition: all 0.2s ease;
      }
      .clock {
        &:hover {
          color: #2948ff;
        }
      }
      .trash {
        &:hover {
          color: #f09937;
        }
      }
    }
  }
  .todo-lists {
    display: none;
  }
  .completed {
    display: none;
    .todo-list {
      .tick {
        color: #808080;
        font-size: 1.6rem;
        line-height: 1.6rem;
        border: none;
      }
      p {
        color: #808080;
        font-weight: 300;
      }
    }
  }

  .delete-list-warning {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    .panel {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 150px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
      h6 {
        font-size: 1rem;
        width: 80%;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 20px;
      }
      .warnig-control {
        display: flex;
        justify-content: space-between;
        width: 210px;
        button {
          cursor: pointer;
          border-radius: 6px;
          width: 100px;
          height: 30px;
          border: none;
          background: #d8d8d8;
          transition: all 0.3s ease;
          &:hover {
            background: #c9c9c9;
          }
          &:nth-child(2) {
            background: #2948ff;
            color: #fff;
            &:hover {
              background: #203bd4;
            }
          }
        }
      }
    }
  }
}
